@font-face {
	font-family: 'NHaasGroteskDSProMedium';
	src: url('fonts/NHaasGroteskDSPro-65Md.otf'); /* IE9 Compat Modes */
}

@font-face {
	font-family: 'NHaasGroteskDSProBold';
	src: url('fonts/NHaasGroteskDSPro-75Bd.otf'); /* IE9 Compat Modes */
}

html, body {
  overflow-x: hidden;
}

#loading_img{
	transition-timing-function: ease;
}

.loading_content{
	display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	font-weight: 100;
}

.loading_screen{
	height: 100vh;
	position: fixed;
	width: 100vw;
	background-color: white;
	z-index: 1000;
}

.loading_screen img{
	width: 100vw;
	transform-origin: top;
}

.loading_screen h1{
	margin-left: 10px;
	margin-top: 30px;
	font-size: 2.3vw;
  font-weight: 100;
  width: 85%;
  font-family: NHaasGroteskDSProBold;
  letter-spacing: 0.1px;
}

/* .horizontal_master_container{
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */

/* might change soon  */
#container_div_0{
	margin-right: 10px;
}

#container_div_1{
	margin-left: 10px;
}

#container_div_2{
	margin-left: 10px;
}

.main_vertical_container_inner:first-child{
  margin-right: 20px;
}

.main_vertical_container_inner:first-child{
  margin-right: 20px;
}

/* Your css unchanged */
.main_vertical_container {
  display: block;
  position: fixed;
  width: 100vw;
  display: flex;
}


.main_vertical_container .main_vertical_container_inner {
  display: inline-flex;
  width: 33.33%;
  flex-direction: column;
}

.main_vertical_container img {
  width: 100%;
  transform-origin: top;
}

.info_main_container{
	position: fixed;
	padding: 34px;
	z-index: 100;
}


.info_cta_container{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	margin-right: 20px;
	background-color: #EBFF00;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cta_desktop_container{
	display: flex;
	align-items: center;
}

.en_cta{
	width: 75px;
	cursor: pointer;
	height: 75px;
	border-radius: 50%;
	background-color: #EBFF00;
	display: flex;
	align-items: center;
	justify-content: center;
}

.react-slidedown {
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}



.info_body_container{
	width: 36vw;
  height: auto;
  background-color: #EBFF00;
	padding: 3vw;
	border-radius: 36px;
}

.info_body_container_headline{
	display: flex;
	align-items: center;
	justify-content: center;
}

.info_body_container_headline h1,
.info_body_container_ctas h1{
	text-align: center;
	font-size: 2.3vw;
	letter-spacing: 0.1px;
	font-family: NHaasGroteskDSProBold;
}

.info_body_container_ctas{
	text-align: center;
	padding-top: 3vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info_body_container_ctas_spans{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 3vw;
}

#footer p,
#body p{
	font-size: 16px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

.info_body_container_ctas_spans span,
.info_body_container_ctas_spans  a{
	padding: 1vw;
	background-color: black;
	border-radius: 18px;
	color: #EBFF00;
	font-family: NHaasGroteskDSProMedium;
	width: 155px;
	margin-top: 0;
	margin-bottom: 1vw;
	cursor: pointer;
	padding-top: 0.8vw;
	padding-bottom: 0.8vw;
	font-size: 20px;
	text-decoration: none;
	letter-spacing: 1px;
}

.info_body_container_ctas_spans span{
	padding: 0;
}

.footer_cta{
	display: flex;
	align-items: center;
}

.footer_cta_outer{
	display: flex;
  align-items: flex-end;
}

.footer_cta_outer div{
	width: 50%;
}

.footer_cta a div{
	background-color: black;
	width: 155px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
}

.footer_cta span,
.footer_cta a{
	background-color: black;
	border-radius: 18px;
	color: white;
	font-family: NHaasGroteskDSProMedium;
	margin-top: 0;
	cursor: pointer;
	padding-top: 0.8vw;
	padding-bottom: 0.8vw;
	font-size: 20px;
	text-decoration: none;
	margin-right: 1vw;
	letter-spacing: 1px;
}

.footer_copyright{
	text-align: right;
}

.copyright{
	font-family: NHaasGroteskDSProMedium;
}

.info_body_container_ctas_spans span:hover{
	color: white;
}

.footer_desktop{
	position: fixed;
	bottom: 0;
	margin: 34px;
	width: calc(100% - 68px);
	animation: 0.3s slideUp;
}

.body_cta_background_close{
	width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
	cursor: pointer;
}

.footer_desktop_first{
	margin-bottom: 50px;
}

.footer_desktop_first h1{
	font-size: 2.3vw;
	font-family: NHaasGroteskDSProBold;
}


.info_body_container_end_para{
	margin-top: 2vw;
}

.info_body_container_end_para h1{
	text-align: center;
}


.info_cta_container span{
	margin: 0;
	font-family: NHaasGroteskDSProMedium;
	font-size: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.info_cta_container img{
	height: 65%;
	cursor: pointer;
}

.en_cta span{
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: NHaasGroteskDSProMedium;
}

.text_container{
	margin-left: 10px;
	margin-top: 30px;
}

ul{
	 margin-left: 35px;
}

.text_container h1{
	font-size: 2.3vw;
	font-weight: 100;
	width: 85%;
	font-family: NHaasGroteskDSProBold;
	letter-spacing: 0.1px;
}

.text_container p{
	margin-top: 20px;
	font-size: 1.6vw;
	font-weight: 100;
	font-family: NHaasGroteskDSProMedium;
	width: 85%;
}

.text_container p span{
	font-family: NHaasGroteskDSProBold;
}

@media screen and (max-width:600px){



	.loading_img{
		width: 100vw;
		transform-origin: right top;
		position: absolute;
		transform: rotateZ(90deg) translate(100%) scaleY(1);
	}


	.info_main_container{
		position: fixed;
		padding: 12px;
		z-index: 100;
	}

	.en_cta span{
		font-size: 28px;
	}

	.info_cta_container span{
		font-size: 50px;
	}

	.info_body_container_ctas{
		padding-top: 6vw;
	}

	.info_body_container_ctas_spans span,
	.info_body_container_ctas_spans a{
		font-size: 20px;
		margin-bottom: 20px;
		padding: 10px;
	}

	.info_body_container_ctas_spans{
		margin-top: 12vw;
	}

	.info_cta_container{
		margin-right: 12px;
	}

	.info_body_container{
	  width: 100%;
		height: auto;
	}

	.info_body_container_headline{
		margin-top: 3vw;
	}

	.info_body_container_headline h1,
	.info_body_container_ctas h1{
		font-size: 24px;
		font-family: NHaasGroteskDSProMedium;
	}


	.main_vertical_container_mobile{
		display: block;
		position: fixed;
		height: 100vh;
		width: 100vw;
		background-color: white;
		z-index: 100;
	}


	.img_mobile_container{
		width: 100vw;
		position: fixed;
	}

	.img_mobile_container img{
		position: absolute;
    transform-origin: right top;
    transform: rotateZ(90deg) translate(100%) scaleY(1);
		right: -1px;
	}


	.mobile_text_content{
		height: 100%;
    position: absolute;
    background-color: white;
    z-index: 10;
    padding: 16px;
		padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
		flex-direction: column;
	}

	.vertical_text_content{
		padding-left: 16px;
		padding-right: 0;
	}

	.vertical_text_content ul{
		margin-left: 20px;
	}


	.main_vertical_container_mobile{
		position: fixed;
    width: 100vw;
    background-color: white;
		height: 100vh;
	}

	.loader_vertical_container_mobile{
		position: fixed;
		width: 100vw;
		background-color: white;
		height: 100vh;
		z-index: 1000;
	}

	.loader_vertical_container_mobile div img{
		position: absolute;
		transform-origin: right top;
		right: 0px;
	}

	.mobile_text_content h1,
	.vertical_text_content h1{
		font-size: 4.7vw;
		font-family: NHaasGroteskDSProBold;
	}

	.mobile_text_content p,
	.vertical_text_content p{
		font-size: 16px;
		margin-top: 10px;
		font-family: NHaasGroteskDSProMedium;
		margin-bottom: 10vw;
	}

	#vertical_div_main_container{
		position: absolute;
		margin-top: 48vw;
	}


	#vertical_text_content_1{
		margin-bottom: 15vh;
	}

	#vertical_text_content_2,
	#vertical_text_content_3,
	#vertical_text_content_4{
		margin-bottom: 60px;
	}

	.footer_mobile{
		display: block;
		margin-bottom: 30px;
	}

	.footer_mobile_cta{
		margin-top: 60px;
	}


	.footer_mobile h1{
		margin-bottom: 20px;
	}

	.footer_mobile span{
		display: block;
		font-size: 20px;
		padding: 2.5vw;
		margin-bottom: 20px;
		background-color: black;
		border-radius: 18px;
		color: white;
		font-family: NHaasGroteskDSProMedium;
		width: 155px;
		margin-top: 0;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.vertical_text_content a{
		text-decoration: none;
	}

	.vertical_text_content span{
		font-family: NHaasGroteskDSProBold;
	}

	.info_cta_container img{
  	height: 50%;
	}


	#container_mobile_div_1{
		bottom: 0;
	}
}

@keyframes slideUp {
	from {
	bottom: -23vh;
 }

 to {
	 bottom: 0;
 }
}
