@font-face {
	font-family: 'NHaasGroteskDSPro';
	src: url('fonts/NHaasGroteskDSPro-65Md.otf'); /* IE9 Compat Modes */
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	font-family: NHaasGroteskDSPro;
	font-weight: 100;
}

/* .horizontal_master_container{
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */

/* might change soon  */
#container_div_0{
	margin-right: 10px;
}

#container_div_1{
	margin-left: 10px;
}

#container_div_2{
	margin-left: 10px;
}

.main_vertical_container_inner:first-child{
  margin-right: 20px;
}

.main_vertical_container_inner:first-child{
  margin-right: 20px;
}

/* Your css unchanged */
.main_vertical_container {
  display: block;
  position: fixed;
  width: 100vw;
  display: flex;
}


.main_vertical_container .main_vertical_container_inner {
  display: inline-flex;
  width: 33.33%;
  flex-direction: column;
}

.main_vertical_container img {
  width: 100%;
  transform-origin: top;
}

.info_main_container{
	position: fixed;
	padding: 34px;
	z-index: 100;
}


.info_cta_container{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	margin-right: 20px;
	background-color: #EBFF00;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cta_desktop_container{
	display: flex;
	align-items: center;
}

.en_cta{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #EBFF00;
	display: flex;
	align-items: center;
	justify-content: center;
}


.info_body_container{
	width: 36vw;
  height: auto;
  background-color: #EBFF00;
	padding: 3vw;
	border-radius: 20px;
}

.info_body_container_headline{
	display: flex;
	align-items: center;
	justify-content: center;
}

.info_body_container_headline h1,
.info_body_container_ctas h1{
	text-align: center;
	font-weight: 700;
	font-size: 33px;
	letter-spacing: 0.1px;
}

.info_body_container_ctas{
	text-align: center;
	padding-top: 3vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info_body_container_ctas_spans{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 3vw;
}

.info_body_container_ctas_spans span{
	padding: 1vw;
	background-color: black;
	border-radius: 18px;
	color: #EBFF00;
	font-family: NHaasGroteskDSPro;
	width: 155px;
	margin-top: 0;
	margin-bottom: 1vw;
	cursor: pointer;
	padding-top: 0.8vw;
	padding-bottom: 0.8vw;
	font-size: 16px;
}

.footer_cta span{
	padding: 1vw;
	background-color: black;
	border-radius: 18px;
	color: white;
	font-family: NHaasGroteskDSPro;
	width: 155px;
	margin-top: 0;
	margin-bottom: 1vw;
	cursor: pointer;
	padding-top: 0.8vw;
	padding-bottom: 0.8vw;
	font-size: 16px;
	margin-right: 1vw;
}

.copyright{
	position: absolute;
	bottom: 0;
	right: 50px;
}

.info_body_container_ctas_spans span:hover{
	color: white;
}

.footer_desktop{
	position: fixed;
	bottom: 0;
	margin: 34px;
	width: 100%;
}

.footer_desktop_first{
	margin-bottom: 30px;
}

.footer_desktop_first h1{
	font-size: 33px;
	font-weight: 700;
}


.info_body_container_end_para{
	margin-top: 2vw;
}

.info_body_container_end_para h1{
	text-align: center;
}


.info_cta_container span{
	margin: 0;
	font-family: NHaasGroteskDSPro;
	font-size: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.en_cta span{
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text_container{
	margin-left: 10px;
	margin-top: 30px;
}

ul{
	 margin-left: 35px;
}

.text_container h1{
	font-size: 33px;
	font-weight: 100;
	font-family: 'NHaasGroteskDSPro';
	width: 85%;
	font-weight: 700;
	letter-spacing: 0.1px;
}

.text_container p{
	margin-top: 20px;
	font-size: 23px;
	font-weight: 100;
	font-family: 'NHaasGroteskDSPro';
	width: 85%;
}

.text_container p span{
	font-weight: 700;
}

@media screen and (max-width:600px){



	.main_vertical_container_mobile{
		display: block;
		position: fixed;
	}


	.img_mobile_container{
		width: 100vw;
		position: fixed;
	}

	.img_mobile_container img{
		position: absolute;
    transform-origin: right top;
    transform: rotateZ(90deg) translate(100%) scaleY(1);
		right: 0;
	}


	.mobile_text_content{
		height: 100%;
    position: absolute;
    background-color: white;
    z-index: 10;
    padding: 16px;
		padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
		flex-direction: column;
	}

	.vertical_text_content{
		padding-left: 16px;
		padding-right: 0;
	}

	.vertical_text_content ul{
		margin-left: 20px;
	}

	#vertical_div_main_container div:first-child{
		margin-bottom: 20px;
	}

	.main_vertical_container_mobile{
		position: fixed;
    width: 100vw;
    background-color: white;
		height: 100vh;
	}

	.mobile_text_content h1,
	.vertical_text_content h1{
		font-size: 24px;
	}

	.mobile_text_content p,
	.vertical_text_content p{
		font-size: 16px;
		margin-top: 10px;
	}

	#vertical_div_main_container{
		position: absolute;
		margin-top: 48vw;
	}



	#container_mobile_div_1{
		bottom: 0;
	}

}
